// Global variables here
$background-color: #D4D6E4;
$info-background: #151950;
$react-color: #53d2fa;
$link-color: #71A6FF;
$white: #FFFFFF;

// _variables.scss

$background-color: #F9F9F9; // Background color for the card/grid container
$primary-blue: #2285D0;
$light-gray: #F1F1F1;
$border-gray: #E0E0E0;
$text-dark: #444444;
$white: #FFFFFF;
$gray-dark: #70808F;
$box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); // Subtle shadow for the grid card
